
/* src/App.css */
.App {
  font-family: 'Arial', sans-serif;
  padding: 1rem;
  background-color: rgba(170, 159, 159, 0.701);
}

@media (max-width: 600px) {
  .contact-form {
    width: 90%;
  }
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
